{{ define "header" }}
    <h1>SECURITY WORK & TIMELINE</h1>
    <a href="/">Back to main page</a>
{{ end }}

{{ define "main" }}
<section id="summary">
    <h2>SUMMARY</h2>
    <i>(This page is a filtered timeline for my work done in security).</i>
    <p>I specialize in <i>Web & Application, Backend & Platform, Kubernetes and Cloud</i> security where I do:</p>
    <ul>
        <li>Threat modeling and vulnerabilities assessment</li>
        <li>Defensive & Offensive security</li>
        <li>Build bespoke security tools from scratch</li>
        <li>Automation of security controls and existing process</li>
        <li>Security awareness for teams</li>
    </ul>
</section>

{{ partial "rekon.html" . }}

<div>
    <h2>SECURITY ONLY WORK EXPERIENCE</h2>

    <div class="card">
        <h3>Staff Engineer & Individual Contributor - <a href="https://www.flex.ai/" target="_blank">FlexAI</a><time>May 2025 / Present</time></h3>
        <p>Our product ensures AI Workloads as a Service</p>
        <ul>
            <li>Security management and liaising for validation of SOC2, GDPR, etc.</li>
        </ul>
    </div>

    <div class="card">
        <h3>Senior Offensive Security Engineer - <a href="https://www.form3.tech" target="_blank">Form3</a> (UK)<time>May 2023 / April 2025</time></h3>
        <p>Our product is one of the most resilient, multi-cloud, high volume transactions platform in FinTech. It spans 3 clouds (AWS, GCP & Azure ) using <b>Go, Kubernetes and Infrastructure as Code</b>, with more than 60 internal services/middlewares/gateways and third-party integrations. Customers using our APIs: <i>Loyds banking Group, Mastercard, Barclays, Stripe, JP Morgan, Nationwide, GoCardless, etc.</i></p>
        <p>Part of the small offensive security team. Overall my mission is to create new ways to consistently feed the risk framework of Form3 with novel and relevant vulnerabilities.</p>
        <p>Direct responsibilities as Senior Offensive Security Engineer:</p>
        <ul>
            <li>Provide expertise on Go, AppSec, CloudSec and Kubernetes for our infrastructure, products and services</li>
            <li>Scale, improve and revamp our team's internal processes and vulnerabilities capture workflow</li>
            <li>Ongoing review, pentesting of all services/middlewares, our 3 clouds subscriptions (<i>AWS, Azure, GCP</i>) and third party integrations (FeedzAI, Microsoft Copilot, etc.)</li>
            <li>Create new and original reliable Go tooling for automation and discovery, exposing new areas for novel vulnerabilities</li>
            <li>Research on new topics, vulnerabilities, bypasses, attack paths, TTP (Tactics Techniques and Procedures) relevant to our platform</li>
            <li>Bring Go and Test Driven experience, as well as my security background during implementation (i.e. threat modelling)</li>
        </ul>
    </div>

    <div class="card">
        <h3>Freelance for UK/US companies (Security, Architecture, Development, Infra)<time>May 2021 / March 2023</time> </h3>
        <p>
            As a freelance, I offered concrete and extensive hands-on experience at various levels.
        </p>
        <h5>Candy (US) from Jan / November 2022</h5>
        <p>Working with <a href="https://www.candy.com/" target="_blank">Candy</a> on their <b>NFT Go platform</b> that offers a first and second marketplace, and gamification of sports items</p>
        <ul>
            <li>SecOps: build from scratch an encrypted delivery pipeline to locally integrate real production data for developers</li>
            <li>Handle surface and perimeter security of the deployed platform and product</li>
        </ul>
        <h5>Improbable (UK) from May / November 2021</h5>
        <p>Working with <a href="https://www.improbable.io/" target="_blank">Improbable</a> to implement collectively a brand <b>new and modern Go orchestration platform for the multi-players industry</b></p>
        <ul>
            <li>Initial security assets assessment and inventory of the product: perimeter, ratio of obsolete sowftares, cryptography used, etc.</li>
        </ul>
    </div>

    <div class="card">
        <h3>Contractor Technical Lead - <a href="https://twitter.com/rockside_io" target="_blank">Rockside</a> (Development, Design, Ethereum, Blockchain, Security, Infra & Architecture)<time>Nov 2019 / July 2020</time></h3>
        <h5>Security</h5>
        <ul>
            <li>Defining a sound yet simple security model for the infrastructure and our operational side of it</li>
            <li>Security audits of our various component notably our wallet before ANSSI review</li>
            <li>Regularly teaching development security practices and performing continuous audit our codebases and infrastructure</li>
        </ul>
    </div>

    <div class="card">
        <h3>Contractor Technical Lead - <a href="https://www.edulib.fr/" target="_blank">Edulib</a> (Design, Development, Security, Infra, Scalability)<time>Nov 2018 / Jun 2019</time></h3>
        <p>
        <ul>
            <li>Technical and security audit: backend code, infrastructure, development practices, tooling, etc.</li>
            <li>Expose, document and explain current scalabilty and security issues with ad hoc threat modeling</li>
            <li>Put in place new security procedures as well as small iterative and agile processes for the reduced technical team and the transition period</li>
            <li>Port internal Edulib services to a newly created standardized and more secured AWS infrastructure by reducing its surface</li>
        </ul>
        </p>
    </div>

    <div class="card">
        <h3>Contractor Technical Lead - <a href="https://hivebrite.com/" target="_blank">Hivebrite</a> (Design, Development, Security, Infra & Middleware)<time>May 2018 / Oct 2018</time></h3>
        <ul>
            <li>Initial security assessment with swift follow up actions taken to ensure a baseline security for our non production environments</li>
            <li>Leading the security external review and implementing security controls for the Hivebrite platform</li>
            <li>Security compliance point of contact and continuous liaison for our customers (Microsoft, etc.) regarding standardization and compliance: ISO, GDPR</li>
            <li>Starting a SecOps team: threat modeling, audits, continuous security, tools and processes, version upgrade of key components</li>
        </ul>
    </div>

    <div class="card">
        <h3>Security Lead - CyberSecurity firm <a href="https://www.wallix.com/" target="_blank">WALLIX</a> <time>Nov 2016 / May 2018</time></h3>
        <ul>
            <li>Lead implementor and architect of the open source project for secure defaults in AWS: <a href="https://github.com/wallix/awless" target="_blank">awless</a> (on AWS internals) won Stackshare top 50 developers tools 2017, InfoWorld Bossie Awards 2017 category best cloud computing software</li>
            <li>Engineering and cryptography with the implementation of the Golang SDK for the DataPeps an end-to-end encryption WALLIX product</li>
            <li>Full audits of internal products: WALLIX Bastion, DataPeps server, etc.</li>
        </ul>
    </div>

</div>
{{ end }}