<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.meta.description }}">
    <meta name="keywords" content="{{ delimit .Site.Params.meta.keywords ", " }}">
    <title>{{ .Site.Title }}</title>
    {{- with resources.Get "main.css" }}
    <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}">
    {{- end }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    {{ block "header" . }}{{ end }}
</header>

<main>
    {{ block "main" . }}{{ end }}
</main>

<footer>
    <div class="footer">
        {{ block "footer" . }} Simon Caplette {{ now.Year }} &amp; All rights reserved{{ end }}
    </div>
</footer>
</body>
</html>