*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --main-bordering-color: silver;
}

body {
    margin: unset;
    font-family: system-ui;
    padding: 2% 3% 2% 3%;
    background-color: #F4F4F4;
    color: #232b2b;
}
main, section, div {
    margin: 1% 0 1% 0;
}
time {
    margin: 0 1% 0 1%;
    float: right;
}
h2, h5 {
    text-align: center;
}
section {
    h2 {
        background-color: var(--main-bordering-color);
        border-radius: 5px;
    }
}
cite {
    padding-left: 1em;
}
img {
    border-radius: 10px;
}

#header {
    display: flex;
    justify-content: space-between;
}

#social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#summary {
    p {
        font-size: larger;
        margin-inline: 15em;
    }
    ul {
        }
}

.card {
    padding: .5% 2% .5% 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;

    p {
        text-align: center;
        text-transform: uppercase;
        font-style: italic;
    }

    ul {
        border-left: solid var(--main-bordering-color);
    }
}

