:root {
    --main-bordering-color: silver;
    --keyword-color: #007bff;
}

body {
    margin: unset;
    font-family: system-ui;
    padding: 2% 3% 2% 3%;
    background-color: #F4F4F4;
    color: #232b2b;
}
main, section, div {
    margin: 1% 0 1% 0;
}
time {
    margin: 0 1% 0 1%;
    float: right;
}
h2, h5 {
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--keyword-color);
}
a:hover {
    text-decoration: underline;
}
section {
    h2 {
        background-color: var(--main-bordering-color);
        border-radius: 5px;
    }
}
cite {
    padding-left: 1em;
}
img {
    border-radius: 10px;
}
footer {
    margin-top: 3em;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
}

#social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        justify-self: center;
    }
}

#summary > p {
    font-size: 1.2rem;
    margin-inline: 1em;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;

    label {
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1em;
    }
    label::before {
        content: "# ";
    }

    span {
        border-radius: 5px;
        padding: 1px 10px 3px 10px;
        color: white;
        font-weight: bold;
        background-color: var(--keyword-color);
    }
}

.card {
    padding: .5% 2% .5% 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 3em;

    span {
        margin: unset;
        align-self: center;
        text-transform: uppercase;
        font-style: italic;
    }

    div {
        display: flex;
        flex-direction: column;
        margin: unset;
    }

    ul {
        border-left: solid var(--main-bordering-color);
    }
}

