body {
    font-family: sans-serif;
    padding: 2% 3% 2% 3%;
    background-color: #F4F4F4;
    color: #232b2b;
}
main, section, div {
    margin: 1% 0 1% 0;
}
time {
    margin: 0 1% 0 1%;
    float: right;
}
h5 {
    text-align: center;
}
cite {
    padding-left: 1em;
}
.card {
    padding: .5% 2% .5% 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}