<section id="rekon">
    <h2>ENTREPRENEURIAL</h2>
    <p>Via my entity REKON, I offer software architecture, security consultancy, implementations, automation, and my own product <a href="https://surface.rekon.io" target="_blank">Surface</a> for automated infrastructure analysis.</p>
    <p>Here is what some companies have said about the security work and/or products:</p>
    <div class="citations">
        <cite>"Simon's security audit on our wallet component saved us money before going to any ANSSI certification." <span>Fred de Matos - VP of Engineering, Rockside</span></cite>
        <cite>"Rekon tools and analysis allowed Edulib to detect and remove a open redirect to a phishing website." <span>Emilie Barreau - Director, Edulib</span></cite>
        <cite>"Rekon gave us a complete overview of our public infrastructure so that we could simplify greatly its architecture and remove obsolete resources" <span>Eric Herve - CTO, Edulib</span></cite>
        <cite>"We have strengthened and formalized our SDLC thanks to Simon. It enabled us to bump the security of our processes and set-up tools to ensure it stays secured" <span>Jeff - Security Engineer, Hivebrite</span></cite>
    </div>
</section>
