{{ define "main" }}
<section id="summary">
    <h2>SUMMARY</h2>
    <p>Two decades of collaboration to create, secure and launch robust, scalable solutions across diverse teams and industries in global hubs including Sydney, London, New York, and Paris.</p>
    <p>My work centers on designing and implementing large fault-tolerant platforms, high-volume services along with the pipelines, infra, tooling and automation to support the overall product — always with an eye toward simplification, developer experience, and continuous quality delivery for the end user.
        I try to lead by example (doing, pairing and mentoring) favoring egoless collaboration and inclusive teams with distributed ownership.</p>
    <p>Alongside this, I bring depth in
        <span class="go-icon iconic">Go</span> with 12 years in production (I teach via <a href="https://rekon.io/workshops/" target="_blank">my own hands-on curriculum workshops)</a>
        and <span class="sec-icon iconic">Security</span> with offensive, ops, tooling and automation (<a href="/security" target="_blank">dedicated page</a>)
    </p>

   <div class="grid">
       <div>
           <span>On a daily basis, I</span>
           <ul>
               <li><b>Design, build and deploy</b> platforms, services/APIs/backend, tooling, automation and pipelines</li>
               <li><b>Lead, manage and scale</b> heterogeneous teams, advanced projects and recruitment processes</li>
               <li><b>Oversee and evaluate</b> the security of products, APIs, applications, platforms and infrastructure</li>
               <li><b>Teach, train and evangelize</b> Go, Security and eXtreme Programming techniques</li>
           </ul>
       </div>
        <div>
           <span>Industries I worked for</span>
           <ul>
               <li>Finance & Fintech, P2P streaming platform, Sports & Gaming</li>
               <li>Cybersecurity, Internet Service Provider, Insurance, E-Learning</li>
               <li>NFT, Blockchain (Ethereum), Social Networking</li>
           </ul>
       </div>
       <div>
           <span>Positions I Held</span>
           <ul>
               <li>Principal Engineer, Principal Scalability Engineer, Platform Engineer, Technical Lead, Staff Engineer</li>
               <li>Senior Offensive Security Engineer, Security Lead Engineer, DevSecOps Engineer</li>
               <li>Lead Rails Developer, Senior Agile Java Developer, Backend Developer, Scrum Master, Agile & XP Coach</li>
           </ul>
       </div>
       <div>
           <span>Practices I favor</span>
           <ul>
               <li>Pragmatism, Simplicity, Know your tools, Don't break the customer/user</li>
               <li>Collective code ownership, Test-driven development, Pair programming, Continous refactoring</li>
               <li>Egoless programming, Lead by example, Inclusive Teams</li>
           </ul>
        </div>
   </div>
    <div class="keywords">
        <label>Hard Skills</label>
        <span>Software Architecture/Design</span>
        <span>Platform Engineering</span>
        <span>Offensive Security</span>
        <span>Go (12 years in Production)</span>
        <span>Kubernetes</span>
        <span>AWS, GCP, Azure</span>
        <span>DevSecOps</span>
        <span>DevExperience</span>
        <span>Automation</span>
        <span>Scalability</span>
    </div>

    <div class="keywords">
        <label>Soft Skills</label>
        <span>Team Lead</span>
        <span>Tech Lead</span>
        <span>Technical Writing</span>
        <span>Mentorship</span>
        <span>Agile Methodologies</span>
        <span>Scrum Master</span>
        <span>Extreme Programming Coach</span>
    </div>

    <div class="keywords">
        <label>Strong interests</label>
        <span>Go</span>
        <span>Fuzzing</span>
        <span>ML</span>
        <span>LLMOps</span>
        <span>AppSec</span>
        <span>CloudSec</span>
        <span>CNCF</span>
        <span>Containers</span>
        <span>KubeInternals</span>
        <span>Blockchain</span>
        <span>Ethereum</span>
        <span>DevEx</span>
        <span>TDD</span>
        <span>ExtremeProgramming</span>
    </div>
</section>

<section id="education">
    <h2>EDUCATION</h2>
    <ul>
        <li>Grande École Telecom Paris | Signal Processing, Multimedia (2003 - 2004)</li>
        <li>Grande École Telecom Bretagne | Telecommunications, Networks & Computing (2002 - 2003)</li>
        <li>Université des Sciences Montpellier | Graduated top of my class - M. Sc of Electronical Engineering (1998 - 2002)</li>
    </ul>
</section>

<section id="opensource">
    <h2>OPEN SOURCE</h2>
    <p><b>Most of my engineering, blockchain and security work has been done in privately owned repositories.</b> But here are some open code projects I can show. </p>
    <ul>
        <li><a href="https://github.com/wallix/awless" target="_blank">awless</a> Awards winning project on AWS internals and simplification. Lead developer and architect</li>
        <li><a href="https://github.com/wallix/triplestore" target="_blank">RDF Triple store</a> Creator and maintainer</li>
        <li><a href="https://github.com/ua-parser/uap-go/commits?author=simcap" target="_blank">Go user agent parser</a> Early overall re-architecturing</li>
        <li><a href="https://github.com/influxdata/influxdb-relay" target="_blank">InfluxDB Relay</a> (1 improvement)</li>
        <li>Time series DB <a href="https://github.com/influxdata/influxdb" target="_blank">InfluxDB</a> (2 bug fixes)</li>
        <li>Blockchain small public projects: <a href="https://github.com/simcap/zorrodatage" target="_blank">Timestamping on Ethereum</a>, <a href="https://github.com/simcap/rockverify" target="_blank">Content Verification via Ethereum</a>, <a href="https://github.com/simcap/bitcoin_node" target="_blank">Pure Ruby implementation of a routing node using a custom DSL (2014)</a></li>
    </ul>
</section>


<section id="rekon">
    <h2>ENTREPRENEURIAL</h2>
    <p>Via my entity REKON, I offer software architecture, security consultancy, implementations, automation, and my own product <a href="https://surface.rekon.io" target="_blank">Surface</a> for automated infrastructure analysis.</p>
    <p>Here is what some companies have said about the security work and/or products:</p>
    <div class="citations">
        <cite>"Simon's security audit on our wallet component saved us money before going to any ANSSI certification." <span>Fred de Matos - VP of Engineering, Rockside</span></cite>
        <cite>"Rekon tools and analysis allowed Edulib to detect and remove a open redirect to a phishing website." <span>Emilie Barreau - Director, Edulib</span></cite>
        <cite>"Rekon gave us a complete overview of our public infrastructure so that we could simplify greatly its architecture and remove obsolete resources" <span>Eric Herve - CTO, Edulib</span></cite>
        <cite>"We have strengthened and formalized our SDLC thanks to Simon. It enabled us to bump the security of our processes and set-up tools to ensure it stays secured" <span>Jeff - Security Engineer, Hivebrite</span></cite>
    </div>
</section>

<section id="coaching">
    <h2>WORKSHOPS & TRAINING</h2>
    <p>I provide <a href="https://rekon.io/workshops/" target="_blank">original workshops</a> for engineers. Here is what they say about them:</p>
    <div class="citations">
        <cite>"Well balanced hands-on intro to Go with clear explanations and instructions. Overall, learned a lot and had fun!" <span>Developer at YLD</span></cite>
        <cite>"Great balance of demonstrations vs practice, which worked well for a remote workshop." <span>Developer at YLD</span></cite>
        <cite>"10 out of 10!" <span>Developer at YLD</span></cite>
        <cite>"Très intéressant. Formateur très pro." <span>Developer at Ankama</span></cite>
        <cite>"Bonne ambiance. Enrichissant. Permet de pratiquer différement." <span>Manager at Email Vision</span></cite>
        <cite>"Beaucoup d'expérience perso sur le sujet avec un certains nombres d'anecdotes à remonter pour illustrer le sujet." <span>Developer at Amadeus</span></cite>
        <cite>"Très instructif. Nouvelle vision sur les process de développements." <span>Developer at Email Vision</span></cite>
        <cite>"Rien à redire. Présent. Disponible. À l'écoute." <span>Developer at Ankama</span></cite>
    </div>
</section>

<section>
    <h2>WORK EXPERIENCE</h2>

    <div class="card">
        <h3>Staff Engineer & Individual Contributor - <a href="https://www.flex.ai/" target="_blank">FlexAI</a><time>May 2025 / Present</time></h3>
        <p>Our product ensures AI Workloads as a Service (WaaS) that dynamically scales, adapts, and self-recovers ensuring runs on sound infrastructure in regards to speed, cost, and reliability</p>
        <ul>
            <li>Platform engineering, Architecture, Security management (SOC2, GDPR, etc.), Go implementation, Kubernetes, and Infrastructure.</li>
        </ul>
    </div>

    <div class="card">
        <h3>Senior Offensive Security Engineer & Platform Engineer- <a href="https://www.form3.tech" target="_blank">Form3</a> (UK)<time>May 2023 / April 2025</time></h3>
        <p>Our product is one of the most resilient, multi-cloud, high-volume transactions platforms in FinTech. It spans 3 clouds (AWS, GCP & Azure ) using <b>Go, Kubernetes and Infrastructure as Code</b>, with more than 60 internal services/middlewares/gateways and third-party integrations. Customers using our APIs: <i>Loyds banking Group, Mastercard, Barclays, Stripe, JP Morgan, Nationwide, GoCardless, etc.</i></p>
        <p>Part of the small offensive security team. Overall, my mission is to create new ways to consistently feed the risk framework of Form3 with novel and relevant vulnerabilities.</p>
        <p>Direct responsibilities as Senior Offensive Security Engineer:</p>
        <ul>
            <li>Provide expertise on Go, AppSec, CloudSec, and Kubernetes for our infrastructure, products, and services</li>
            <li>Scale, improve and revamp our team's internal processes and vulnerabilities capture workflow</li>
            <li>Ongoing review, pentesting of all services/middlewares, our 3 clouds subscriptions (<i>AWS, Azure, GCP</i>) and third party integrations (FeedzAI, Microsoft Copilot, etc.)</li>
            <li>Create new and original reliable Go tooling for automation and discovery, exposing new areas for novel vulnerabilities</li>
            <li>Research on new topics, vulnerabilities, bypasses, attack paths, TTP (Tactics Techniques and Procedures) relevant to our platform</li>
        </ul>
        <p>Direct responsibilities as part of the Customers API team:</p>
        <ul>
            <li>Daily design, development, and deployment of the large Go backend for the customer API</li>
            <li>Introduce newly designed production Go services from scratch: an API event replayer, Kubernetes Job controls verifiers, etc.</li>
            <li>Provide a continued stream of simplifications, improvements and refactor on codebase while maintaining delivery deadlines.</li>
            <li>Create engineering proposals (company-wide) to increase awareness and change on specific topics</li>
            <li>Bring Go and Test Driven experience, as well as my security background during implementation (i.e. threat modeling)</li>
            <li>On call duty for the production platform, defining our SLO/SLI and weekly liaising with SRE</li>
        </ul>
    </div>

    <div class="card">
        <h3>Freelance for UK/US companies (Security, Architecture, Development, Infra)<time>Dec 2020 / March 2023</time> </h3>
        <p>
            Via my own entity REKON, I offer concrete and extensive hands-on experience at various levels for
            challenging projects: design, build, architecture and infrastructure; security
            audits and threat modeling.
        </p>
        <h5>Candy (US) from Jan / December 2022</h5>
        <p>Working with <a href="https://www.candy.com/" target="_blank">Candy</a> on their <b>NFT Go platform</b> that offers a first and second marketplace, and gamification of sports items</p>
        <ul>
            <li>SecOps: build from scratch an encrypted delivery pipeline to locally integrate real production data for developers</li>
            <li>Handle surface and perimeter security of the deployed platform and product</li>
            <li>Make SQL DB support multi-brands, full gamification API & logic for NFT</li>
            <li>New full marketplace search, third parties integration, as well as the everyday sprint stories</li>
            <li>New code testing practices and introducing testing APIs, adopted quickly by the backend team</li>
            <li>Dev Experience: key simplification/improvements for local platform bootstrap/run</li>
            <li>Blockchain: patches on our Ethereum bridge</li>
            <li>Constant and full reviews of all incoming PRs, pairing, and mentoring: for a new batch of five new Go junior developers freshly hired and existing Candy backend developers</li>
        </ul>
        <h5>Improbable (UK) from May / December 2021</h5>
        <p>Working with <a href="https://www.improbable.io/" target="_blank">Improbable</a> to implement collectively a brand <b>new and modern Go orchestration platform for the multi-players industry</b></p>
        <ul>
            <li>Initial security assets assessment and inventory of the product: perimeter, ratio of obsolete sowftares, cryptography used, etc.</li>
            <li>Implement Kubernetes controllers (operator pattern), GRPC APIs, and AWS Lambda functions</li>
            <li>Develop a mechanism for deploying, running, and scaling customer-provided Docker images in Kubernetes clusters</li>
            <li>Use a combination of existing open-source tooling and bespoke software</li>
        </ul>
        <h5>Doctolib (Paris) from December 2020 / May 2021</h5>
        <p>Working with <a href="https://www.doctolib.fr/" target="_blank">Doctolib</a> within various teams to:
            <ul>
                <li>provide targeted implementations, solve technical and performance issues</li>
                <li>audit various internal systems: customized internal CI built on Kubernetes, SMS sending pipeline, etc.</li>
            </ul>
    </div>

    <div class="card">
        <h3>Contractor Technical Lead - <a href="https://twitter.com/rockside_io" target="_blank">Rockside</a> (Development, Design, Ethereum, Blockchain, Security, Infra & Architecture)<time>Nov 2019 / July 2020</time></h3>
        <h5>Security</h5>
        <ul>
            <li>Defining a sound yet simple security model for the infrastructure and our operational side of it</li>
            <li>Security audits of our various component notably our wallet before ANSSI review</li>
            <li>Regularly teaching development security practices and performing continuous audit of our codebases and infrastructure</li>
        </ul>

        <h5>Core</h5>
        <p>
        <ul>
            <li>Overall re-architecturing/designing/organizing of our Go codebase (importantly done along the way and not as a rewrite!)</li>
            <li>Team development of a new Ethereum relayer and adjoining Ethereum Solidity contracts (ex: EIP-712, proxy, factory, meta transactions)</li>
            <li>Designing the DB models and interactions (Mongo and PostgreSQL)</li>
            <li>Implementing and introducing various levels of sound testing: unit, integration, and acceptance</li>
            <li>Leveraging the library go-ethereum to simplify and make our code base more typed hence more robust and scalable</li>
            <li>Teaching and implementing new team, development practices</li>
        </ul>
        </p>
        <h5>DevOps</h5>
        <p>
        <ul>
            <li>
                Meeting the required and short deadline for creating from scratch 3 full new environments and
                infrastructure for our new platform
            </li>
            <li>New CI/CD pipeline with a brand-new original component bringing simplified automation.</li>
        </ul>
        </p>

        <h5>Others</h5>
        <ul>
            <li>Implementing a pragmatic internal dashboard to understand our data</li>
            <li>Implementing open source projects using our new Ethereum relayer for visibility</li>
        </ul>
    </div>

    <div class="card">
        <h3>Contractor Technical Lead - <a href="https://www.edulib.fr/" target="_blank">Edulib</a> (Design, Development, Security, Infra, Scalability)<time>Nov 2018 / Jun 2019</time></h3>
        <p>
        <ul>
            <li>Technical and security audit: backend code, infrastructure, development practices, tooling, etc.</li>
            <li>Complete transfer under my sole responsibility of the code & platform (from the historical provider and implementor)</li>
            <li>Expose, document, and explain current scalabilty and security issues with ad hoc threat modeling</li>
            <li>Lay out plan and strategies for scaling, securing, and improving the product</li>
            <li>Put in place new security procedures as well as small iterative and agile processes for the reduced technical team and the transition period</li>
            <li>Ensure transition and transfer of knowledge for new hires</li>
            <li>Port internal Edulib services to a newly created standardized and more secured AWS infrastructure</li>
            <li>Fix historical concurrency bugs in the Edulib Production Studio in view of the upcoming deadlines with Albin Michel, Belin, etc.</li>
            <li>Implement monitoring of internal services using in part Prometheus</li>
            <li>Introducing the Go language in production: writing new necessary modules and pair programming with developers</li>
        </ul>
        </p>
    </div>

    <div class="card">
        <h3>Contractor Technical Lead - <a href="https://hivebrite.com/" target="_blank">Hivebrite</a> (Design, Development, Security, Infra & Middleware)<time>May 2018 / Oct 2018</time></h3>
        <ul>
            <li>Global streamlining and rationalization of the Hivebrite infrastructure</li>
            <li>Implement the solution to port and scale Hivebrite to a global multi-region platform</li>
            <li>Migrate, rewrite modules/services to the Go language for performance, operational clarity, and simplicity</li>
            <li>Implementation of a new PubSub Go server to avoid traffic contention</li>
            <li>Introduce the Go language with workshops, pair programming, and evangelization</li>
            <li>Help and coach to improve agile processes.</li>
            <li>Initial security assessment with swift follow up actions taken to ensure a baseline security for our non production environments</li>
            <li>Leading the security external review and implementing security controls for the Hivebrite platform</li>
            <li>Security compliance point of contact and continuous liaison for our customers (Microsoft, etc.) regarding standardization and compliance: ISO, GDPR</li>
            <li>Starting a SecOps team: threat modeling, audits, continuous security, tools and processes, version upgrade of key components</li>
        </ul>
    </div>

    <div class="card">
        <h3>Security Lead - CyberSecurity firm <a href="https://www.wallix.com/" target="_blank">WALLIX</a> <time>Nov 2016 / May 2018</time></h3>
        <ul>
            <li>Lead implementor and architect of the open source project for secure defaults in AWS: <a href="https://github.com/wallix/awless" target="_blank">awless</a> (on AWS internals) won Stackshare top 50 developers tools 2017, InfoWorld Bossie Awards 2017 category best cloud computing software</li>
            <li><a href="https://github.com/wallix/triplestore" target="_blank">triplestore</a> fluent library & in memory store to manage, query and store RDF triples.</li>
            <li>Engineering and cryptography with the implementation of the Golang SDK for the DataPeps an end-to-end encryption WALLIX product</li>
            <li>Full audits of internal products: WALLIX Bastion, DataPeps server, etc.</li>
        </ul>
    </div>

    <div class="card">
        <h3>Principal Scalability Engineer - <a href="https://streamroot.io/" target="_blank">Streamroot (US backed company)</a> <time>June 2015 / June 2016</time></h3>
        <p>Talk (<a href="https://www.slideshare.net/SimonCaplette/traitement-temps-rel-chez-streamroot-golang-paris-juin-2016" target="_blank">Slides</a> | <a href="https://www.youtube.com/watch?v=zFuV3jEtRg4">Video</a>) on my work at Streamroot for Technical Paris Meetup: <i>Go and Platform for Realtime processing</i></p>
        <ul>
            <li>Backend architecture, design & scaling; complete rewrite of a platform in Go</li>
            <li>Provide a new realtime processing pipeline for video data & customer metrics (Kafka)</li>
            <li>Automate cloud migration AWS/Azure; simplifying app deployments</li>
            <li>Implement XP practices; supervise scrum process for our SaaS product</li>
        </ul>
    </div>

    <div class="card">
        <h3>Platform Engineer - <a href="https://www.crunchbase.com/organization/preplay" target="_blank">PrePlaySports (US company)</a> <time>Sept 2013 / Oct 2014</time></h3>
        <p>
        <ul>
            <li>In charge of a real time & social platform to allow sport's fan predictions on live games</li>
            <li>Implement adjoining gamification modules, API & services</li>
            <li>Collaborate in Features Teams with iPhone, Android, and Web developers</li>
        </ul>
        </p>
    </div>

    <div class="card">
        <h3>Contractor Lead Developer Ruby - <a href="https://www.compte-pro.com/finexkap" target="_blank">Finexkap</a> <time>July 2013 / Sept 2013</time></h3>
        <p>Building a minimum viable product of a web portal verifying customers eligibility for financial factoring.</p>
    </div>

    <div class="card">
        <h3>Contractor Ruby Developer - <a href="https://hivebrite.com/" target="_blank">Hivebrite</a> <time>April 2013 / June 2013</time></h3>
        <p>Implementing full stack features for an application for private alumni communities. The online product is a white label for business & schools.</p>
    </div>

    <div class="card">
        <h3>Senior Agile Software Consultant - <a href="https://xebia.com/" target="_blank">Xebia</a> <time>Sept 2010 / April 2013</time></h3>
        <p><i>Mission as a Xebia consultant:</i></p>
        <ul>
            <li><a href="https://www.libon.com/" target="_blank">At Libon</a>: Extreme programming and team lead for an overall refactoring with ongoing features of a
                live platform enabling chat, voicemail, messaging & free calls. Consumed by
                iPhone, Android and web browser.</li>
        </ul>
        <p><i>Within Xebia firm:</i></p>
        <ul>
            <li>Official Xebia trainer giving workshops, mentoring, and training on: XP, TDD, BDD, Refactoring, Craftmanship</li>
            <li><a href="https://blog.engineering.publicissapient.fr/author/scaplette/" target="_blank">Published articles</a> written for Xebia (TDD, Craftmanship, etc.)</li>
            <li>Member of the Craftmanship lead </li>
            <li>Member of the Xebia's recruitment team to hire Xebia consultants</li>
        </ul>
    </div>

    <div class="card">
        <h3>Agile Software Developer - <a href="https://www.virginmedia.com/" target="_blank">Virgin Media</a> (London)<time>July 2009 / Sept 2010</time></h3>
        <p>Implementing back-end features for the Virgin e-commerce website offering broadband and adjacent services.</p>
    </div>

    <div class="card">
        <h3>Agile Software Developer - <a href="https://www.factset.com/" target="_blank">Factset</a> (London)<time>July 2007 / July 2009</time></h3>
        <p>Overall refactoring with ongoing features of an online Outlook-like service for fund managers and investors.</p>
    </div>

    <div class="card">
        <h3>J2EE Developer - <a href=" https://orbian.com/" target="_blank">Orbian</a> (London)<time>June 2006 / July 2007</time></h3>
        <p>Working on the back and front end of a supply chain finance platform that provides business-to-business finance and payment solutions.</p>
    </div>

    <div class="card">
        <h3>GUI Developer & System Designer - <a href="https://www.petards.com/" target="_blank">Petards</a> (London) <time>Jan 2006 / June 2006</time></h3>
        <p>Solo work to create a full in-car detection and alerting system prototype for an upcoming European commission trial.</p>
    </div>
</section>
{{ end }}